@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&family=Zen+Maru+Gothic:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.white-box {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 30px;
  background-color: #ffffffdd;
  display: none;
  border-radius: 10px;
  z-index: 1000; /* 最前面に表示するためのz-index */
  box-shadow: 23px 24px 100px -51px #666666;
  scrollbar-width: thin;
}
html{
  font-size: 62.5%;
}
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}
h1 {
  font-size: 36px !important;/* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429)) !important;/* 24px~36pxで可変*/
  line-height: 1.3 !important;
}
h2 {
  font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
  line-height: 1.3;
}
h6{
  font-size: 10px;
}
.left-top-logo > .app{
  color: white;
  background: #6f7074;
  letter-spacing: 2px;
  border-radius: 100px;
  padding: 3px 7px;
  font-size: 0.4em;
  position: absolute;
  top: 15%;
}
.left-top-logo > .otasuke{
  letter-spacing: 0.4px;
}
.left-top-logo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 4px;
  color: #272829;
  line-height: 1.2 !important;
  margin: 0px;
  position: relative;
  width: 50%;
}
@media (min-width: 1200px) {/* 1200px以上*/
  .hazinogazou {
    margin: 0 0 0 30px;
    width: 150px; /* 画像の幅 */
    height: 400px; /* 画像の高さ */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h1 {
      font-size: 3.6rem;/* 36px*/
  }
  h2 {
      font-size: 2.4rem;/* 24px*/
  }
  .omikujibako{
    max-width: 100%;
    width: 15%;
    height: 15%;

  }
  
}
@media (min-width: 444px) {/* 1200px以上*/
  .omikujibako{
    max-width: 100%;
    width: 40%;
    height: 40%;
  }
}
@media (max-width:640px){
  .omikujibako{
    max-width: 100%;
    width: 10%;
    height: 10%;
  }
}
@media (min-width: 768px) {/* 768px以上*/
  .nakami{
    font-size: 15px;
  }
  h1 {
      font-size: 3.6rem;/* 36px*/
  }
  h2 {
      font-size: 2.4rem;/* 24px*/
  }
  h6{
    font-size: 8px;
  }
  .omikujibako{
    max-width: 100%;
    width: 25%;
    height: 25%;
  }
}
@media screen and (max-width: 640px) {/* 640px以下*/
  .hazinogazou {
    margin: 0 0 0 0;
    width: 100px; /* 画像の幅 */
    height: 300px; /* 画像の高さ */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .omikujibako{
    max-width: 200%;
    width: 60%;
    height: 60%;
  }
  
  h4{
    font-size: 18px;
  }
  body{
  line-height: 2;
  }
  h3{
    font-size: 18px;
  }
  p{
    font-size: 10px;
  }
  h1{
      font-size: 2.4rem;/* 24px*/
  }
  h2 {
      font-size: 2rem;/* 20px*/
  }
  h6{
    font-size: 5rem;
  }
  iframe{
    width: 100%;
    height: 100%;
  }

  .left-top-logo > .app{
    color: white;
    background: #6f7074;
    letter-spacing: 2px;
    border-radius: 100px;
    padding: 3px 5px;
    font-size: 7px;
  }
  .left-top-logo > .otasuke{
    letter-spacing: 1px;
  }
  .left-top-logo {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 4px;
    color: #272829;
    margin: 0px;
  }
  .white-box {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    background-color: #ffffffec;
    display: none;
    z-index: 1000; /* 最前面に表示するためのz-index */
    box-shadow: 23px 24px 100px -51px #666666;
  }
  .white-box h4{
    font-size: 15px;
  }
  .nakami{
    font-size: 10px;
  }
}
.img-animate {
  animation: imgAnimation 8s;
}

@keyframes imgAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}



.white-box.show {
  display: block;
  /* height: 80%; */
}




.main-menu{
  margin:16px 0 0 0px;
}

img{
  margin:auto;
  display:block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.contact-button-container {
  text-align: center;
  margin: 20px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

.notfoundImage img{
  width: 50%;
  min-width: 200px;
  margin-top: 2px;
  padding: 10px 0 0 0;
  margin: auto;
  display: block;
}
.contact-card {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.contact-card a {
  text-decoration: none;
  color: inherit;
}

.contact-card-content {
  display: flex;
  align-items: center;
}

.contact-card-image {
  width: 150px;
  height: auto;
  object-fit: cover; /* 画像の切り取り方を指定 */
  margin-right: 0; /* 画像とテキストの間に余白を追加 */
  margin-left: 5px;
}

.contact-card-text {
  padding: 20px;
}

.contact-card h3 {
  margin: 0;
  font-size: 22px;
  color: #585858;
}

.contact-card p {
  margin: 7px 0 0;
  font-size: 14px;
  color: #666;
}

.contact-card:hover {
  background-color: #fcfcfc;
}
.EmbedBaseLinkCard{
  margin-top: .5em;
  font-size: .78em;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.EmbedBaseLinkCard{
  margin-right: 6px;
  flex-shrink: 0;
}

.EmbedBaseLinkCard img{
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin: 0px;
}
/* src/assets/css/index.css に追加 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-row {
  animation: fadeIn 1s ease-in-out;
}
td{
  border-bottom: 8px solid white;
}

#danraku-answer > tr:nth-child(1){
  background-color: #EDDEFF;
}
#danraku-answer > tr:nth-child(2){
  background-color: #FFDFF3;
}
#danraku-answer > tr:nth-child(3){
  background-color: #FDF0FF;
}
#danraku-answer > tr:nth-child(4){
  background-color: #D1F4FF;
}
#danraku-answer > tr:nth-child(5){
  background-color: #D1FFF9;
}
#danraku-answer > tr:nth-child(6){
  background-color: #FBF0D9;
}
#danraku-answer > tr:nth-child(7){
  background-color: #FF7572;
}
.td-index{
  text-align: center;
  font-size: 2em;
}
.td-item{
  padding: 40px;
  font-size: 1.4em;
}
.td-index span{
  line-height: 1.9em;
  font-weight: 600;
  transform: translateX(25%);
  display: inline-block;
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}
.aka{
  color: red;
  font-weight: 900;
}
.container h3{
  margin: 10px 30px 0 0;
  display: inline;
  font-size: 2em;
}
/* 既存のスタイルに追加 */
.message {
  white-space: pre-wrap; /* 改行を適用 */
}

.omikujibako{
  margin-top: 10px;
  cursor:  url('/images/finger.svg') 60 60, auto;
}

.centering {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.left-top-logo{
  display: inline-block !important;
}
.omikujibako {
  position: relative;
  cursor: pointer;
}

.light-animate {
  animation: lightEffect 8s infinite;
}
@keyframes lightEffect {
  0% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(255, 255, 0, 1));
  }
  100% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 0.5));
  }
}


.white-box {
  display: none;
  padding: 3em !important;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;

}
.bokasi.show{
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: #00000033;
  backdrop-filter: blur(10px);
  z-index: 100 !important;
}


.white-box.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-box.show p {
  font-weight: bold;
  font-size: 2em;
}

.omikujibako {
  position: relative;
  cursor:  url('/images/finger.svg') 60 60, auto;
}

.light-animate {
  animation: lightEffect 8s infinite;
}

.grade-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 0 !important;
}

/* .ai-response {
  position: absolute;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  margin: 20px 0 0 0;
}*/

.ai-response p{
  font-size: 17px;
} 
.response-box {
  border: 1px solid #ddd;
  padding: 30px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: relative;
}

.timestamp {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.8em;
  color: #888;
}
.setumei{
  font-weight: bold;
  text-align: center;
  display: block !important;
  font-size: 5vw;
}
.pagetitle{
  text-align: center;
  display: block !important;
  font-weight: 600;
}
#inputarea{
  text-align: center;
}
p{
  font-size: 17px;
}

.grade-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-form select, .grade-form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.white-box {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.white-box.show {
  display: flex;
}

.bokasi.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* 新規追加のスタイル */
.response-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin:30px 0;
  background-color: #f7f7f7;
  position: relative;
  padding: 0;
}

.response-type-tab {
  background-color: #e0e0e0;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 10px 30px;
  color: #333;
  font-size: 20px;
}

.response-content-tab p{
  padding: 20px 40px;
  font-size:18px !important;
}

.response-content {
  font-size: 16px;
  color: #333;
}

.timestamp {
  font-size: 12px;
  color: #666;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.balloon1 {
  position: relative;
    display: inline-block;
    /* margin: 1.5em 15px 1.5em 0; */
    padding: 0 5px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: #a58eff;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 150%;
    margin: 0 0 0 20px;
}

.balloon1:before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #a58eff;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.balloon1 p {
  margin: 13px 0 0 0;
  padding: 0;
}
.response-content-tab>.example-sentenceh{
  font-size: 20px !important;
  font-weight: bold;
}

.kajougaki{
  list-style: disc;
  padding: 24px;
  margin: 10px 30px;
}
.kajougaki{
  margin-bottom: 3.2rem;
}
/* 作文用紙Style */
.sakubun {
  background-color: lightyellow;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  width: 100%;
  font-size: 28px;
  color: #333;
  border: 1px dotted #FFFFFF;
  position: relative;
  letter-spacing: .5em;
  line-height: 1.6em;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 4px 4px 16px #00000014;
}

.sakubun::before {
  content: '';
    position: absolute;
    width: 91%;
    height: 91%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 1px, transparent 0), linear-gradient(to left, rgba(0, 0, 0, .2) 1px, transparent 0), linear-gradient(to bottom, transparent 11px, rgba(0, 0, 0, .2) 12px, transparent 0);
    background-size: 1.1em 1.6em;
    background-position: top left;
    background-origin: padding-box;
    margin-left: -5px;
    z-index: 1;
}

.sakubun::after {
  content: '';
  display: block;
  clear: both;
}

.sakubun p {
  margin: 0;
  margin-right: 0;
  margin-top: .3em;
}

.sakubun ruby {
  ruby-align: left;
}
.sakubun ruby > rt {
  font-size: 10px;
  letter-spacing: 0;
  text-align: justify;
  line-height: 1em;
  transform: translateX(.40em) translateY(-1.3em);
  margin-bottom: .1000em;
}
.sakubunyosi{
  display: flex;
}
/* index.css */

/* index.css */

html {
  scroll-behavior: smooth;
}



.navigation-list {
  height: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  line-height: 0;
}

.navigation-item {
  width: 30%;
  background-color: #000000;
  font-size: 2rem;
  margin: 0;
  border-right: 1px solid #ffffff;
  padding: 10px 20px;
  border-top: 2px solid #999999;
  position: relative;
}



.navigation-item:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 2px solid #999999;
}
.navigation-item:last-child {
  margin: 0;
  border-right: 0px solid #00a0b800;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navigation-item a span{
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.navigation-item a span{
  font-size: 1.1rem;
  line-height: 200%;
}
.navigation-item a span:last-child{
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 1.9rem;
}



.navigation-item a:hover{
  color: #07d000;
  background-color: rgba(255, 255, 255, 0);
}

.navigation-item a{
  color: white;
}
.navigation-item::after{
  top: 10px !important;
  right: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(/images/yazirushi.svg);
  background-position: top left;
  background-size: 100%;
  position: absolute;
}



.homepng{
  margin-top: 13px;
}
.topbutton{
  position: fixed;
  bottom: 10px !important;
  right: 10px;
  border-radius: 100px !important;
  padding: 0;
  margin: 0;
}
.topbutton button{
  border-radius: 100px;
  background-color: #ffffffb9;
  text-align: center;
  color: rgb(83, 83, 83);
  border: 0 solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.219);
}

.down{
  bottom: 0;
  position: fixed;
  width: 500px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.904);
  padding: 10px 30px 0 10px;
  text-align: center;
}
.next{
  right: 20px;
}
.down button{
  width: 400px;
}
.down a button:hover{
  background-color: black;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.325);
  filter: brightness(90%);
}
@media (max-width: 768px) {
  .navigation-item::after{
    right: 10%;
    top: 50% !important;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }
  .navigation-list {
    flex-direction: column;
    align-items: center;
  }

  .navigation-item {
    width: 90%;
    padding: 10px 20px;
    border-left: 2px solid #999999;
    border-top:1px solid #4b4b4b;
    border-right:0;
  }
  
  .navigation-item:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-left: 2px solid #999999;
    border-top: 2px solid #999999;
  }
  .navigation-item:last-child {
    margin: 0;
    border-right: 0px solid #00a0b800;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
  }

  .navigation-item a {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .down{
    width: 100%;
  }

  .down button{
    width: 80%;
  }
  .next{
    left: 0;
    top: 50px;
    padding: 10px;
  }
}
.genkouimage img{
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.14);
  max-width: 800px;
}
.tobubutton{
  font-size: 0.8em !important;
}