@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&family=Zen+Maru+Gothic:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.left-top-logo > .app{
  color: white !important;
  background: #6f7074 !important;
  letter-spacing: 2px !important;
  border-radius: 100px !important;
  padding: 3px 10px !important;
  font-size: 18px !important;
}
.left-top-logo > .otasuke{
  letter-spacing: 1px !important;
}
.left-top-logo {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 800 !important;
  font-size: 40px;
  font-style: normal !important;
  letter-spacing: 4px !important;
  color: #272829 !important;
  line-height: 1.3;
  margin: 30px;
}

.main-menu{
  margin:16px 0 0 40px;
}