@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
/* フェードアウトとフェードイン、スライドインアニメーション */


body{
  letter-spacing: 2px;
  color: #000000;
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-align: center;
}

/* 全体のコンテナを中央寄せ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 20px;
  white-space: pre-line;
}

/* セットごとのスタイル */
.set {
  text-align: center;
  margin-bottom: 40px;
  max-width: 500px;
}


select{
  width: 350px;
  background-color: #f0f0f0;
  border: white;
  color: #757575;
  font-family: "Zen Kaku Gothic New", sans-serif;
  margin-bottom: 70px;
  height: 64px;
}
input{
  padding: 20px 15px !important;
  width: 50vw !important;
  border: 2px solid #b0b1b8;
  background-color: #f0f0f0;
  color: #757575;
  border: white;
  font-size: 20px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  justify-content: center;
  align-items: center;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit']{
  background-color: #000000;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  height: auto;
  letter-spacing: .1rem;
  line-height: 1.8rem;
  padding: 1.8rem 3.0rem !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* 画像のスタイル */
.set img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* 見出しのスタイル */
.set h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* テキストのスタイル */
.set p {
  font-size: 16px;
}

.container p{
  text-align: left;
}
input{
  color: black !important;
}
textarea{
  font-family: "Zen Kaku Gothic New", sans-serif;
}
h5{
  font-weight: bold;
}
h4{
  font-size: 1.6em;
}