@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
body{
  letter-spacing: 2px !important;
  font-size: 40px !important;
  color: #30546a !important;
  font-family: "Zen Kaku Gothic New", sans-serif !important;
}

/* 全体のコンテナを中央寄せ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 20px;
  white-space: pre-line;
}

/* セットごとのスタイル */
.set {
  text-align: center;
  margin-bottom: 40px;
  max-width: 500px;
}
select,input{
  width: 350px !important;
  background-color: #dbecec !important;
  border: white !important;
  color: #28a8b3 !important;
  font-family: "Zen Kaku Gothic New", sans-serif !important;
}
button{
  background-color: #7769b8 !important;
}

/* 画像のスタイル */
.set img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* 見出しのスタイル */
.set h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* テキストのスタイル */
.set p {
  font-size: 16px;
}

.container p{
  text-align: left;
}