/* モーダルのスタイル */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* 背景色 */
  opacity: 0; /* 初期状態では透明 */
  visibility: hidden; /* 初期状態では不可視 */
  transition: opacity 0.5s, visibility 0.5s; /* アニメーション効果 */
  z-index: 19999;
}

/* モーダルの画像スタイル */
.modal-content {
  display: block;
  width: auto;
  height: 100%;
}

/* モーダルの閉じるボタン */
#close {
  position: absolute;
  top: 5rem;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* ココから下は画像を並べてる部分のスタイルなので
　　モーダルとは直接関係がない部分です　　　　　 */
/********************************************/
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}


.img:hover {
  opacity: 0.7;
  width: auto;
  height: 80%;
}

.img img {
  width: auto;
  height: 80%;
  object-fit: cover;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
  width: 100%;
}
.contentsmei{
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-top: 20px;
  font-size: 1.3em;
}
.contentssetumei{
  margin: 0 auto 30px auto;
  line-height: 27px;
      width: 400px;
    max-width: 90%;
}
p.img{
  margin: auto;
  padding: auto;
}

a{
  color: black;
}

@media (max-width: 768px) {
  .modal-content {
      height: auto !important;
  }
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
  width: 100%;
}
}