.floating-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 90%;
  text-align: center;
  z-index: 100000;
}

.gif {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content:center;
}

.try-btn {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* フレームのデザイン調整 */
.floating-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 481px;
  width: 680px;
  max-width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
    top: 10px;
    right: 6px;
    background: none;
    border: none;
    font-size: 44px !important;
    cursor: pointer;
    color: black;
    background: #ffffff;
    padding: 20px 6px !important;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 580px;
  min-width: 500px;
  margin: auto;
}

.content img.gif {
  width: auto;
  max-height: 400px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 10px;
  bottom: 30px;
  position: relative;
}

.try-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.content h2,.content p{
  font-weight: bold;
  width: 100%;
}
.content p{
  text-align: left;
}