/* 横並びとレスポンシブ対応 */
section.container {
  padding: 2rem 0;
  float: left;
}
.contentsmei{
  font-size:1em;
  font-weight: bold;
  margin: 8px 2px;
  text-align: left;
}
.contentssetumei{
  font-size: 0.92em;
  text-align: left;
  line-height: 150%;
  margin: 0 !important;
  padding: 0 !important;
}
.sitazentai{
  background-color: rgb(150, 150, 150);
  width: 100%;
}
.sitazentai ::before{
  background: url(/images/zarazara.png) 50% repeat;
  background-size: auto 240px;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
}

.column {
  flex: 0 1 calc(33.333% - 1rem);
  margin-bottom: 1rem;
}

.box {
  text-align: center;
  padding: 1rem;
  background-color: white;
  transition: transform 0.3s;
}

.box-link {
  text-decoration: none;
  color: inherit;
}

.box:hover {
  transform: translateY(-5px);
}

.box-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.5rem;

}

.box .box-image{
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
}

/* レスポンシブ対応: 画面幅が768px以下の場合、ボックスを2つ横並びに */
@media (max-width: 768px) {
  .column {
    flex: 0 1 calc(50% - 1rem);
  }
  .column-25 {
    width:50%;
  }
  .row .column.column-25 {
    flex: 0 0 25%;
    max-width: 100%;
    width: 55% !important;
    margin: 0 auto;
}
}

/* レスポンシブ対応: 画面幅が480px以下の場合、ボックスを1つずつ表示 */
@media (max-width: 480px) {
  .column {
    flex: 0 1 100%;
  }
}
@media (max-width: 1024px) {
  .column-25 {
    width:33.3% !important;
  }
}
