.radio-3 {
  border: none;
}

.radio-3 label {
  display: flex;
  align-items: center;
  gap: 0 .5em;
  position: relative;
  max-width: 400px;
  margin-bottom: .4em;
  padding: .5em .7em;
  border-radius: 3px;
  background-color: #ffd8d8;
  cursor: pointer;
  box-shadow: 0px 2px 2px #d5cfcf;
}

.radio-3 label:has(:checked) {
  background-color: #000000;
  color: #fff;
  
}

.radio-3 label::before,
.radio-3 label:has(:checked)::after {
  border-radius: 50%;
  content: '';
}

.radio-3 label::before {
  width: 14px !important;
  height: 14px !important;
  background-color: #fff;
}

.radio-3 label:has(:checked)::after {
  position: absolute;
  top: 50%;
  left: calc(7px + .7em);
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.radio-3 input {
  display: none;
}